<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
DirectoryIndex index-new.php
RewriteRule ^index-new.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index-new.php [L]
</IfModule>